/* /* primary-color: color #212121;
 text-color: color: #757575
 secondary-color: color: #FFFFF */
 /* Header */
 .logo{
    color: #000000;
}
.logo-span,
.nav-link:hover,,
.link-list:hover,
.link-list:focus,
.logo-span{ 
color: #2196F3;
}  
.link {
    color:#212121 ;
}
.nav-link:hover {
    color:#2196F3
}
.link-item{
    color: #212121;
} 
.nav-link-item:hover{
    color: #2196F3;
}
.link-king{
    color: #757575;
}
.link-king:hover{
    color:#2196F3 ;
}
.hero-section{
    background-color:#2F303A;
}
.doom{
    color: aliceblue;
}
.king{ color: #212121;

}
.king-intem {
    color: #757575;
}
.boot{
    color: #212121;
}
.boot-input{
color: #212121}
.{
    color: #000000;
}
.input-color{
    color: #2196F3;
}
.psps {
    color: crimson;
}
.proo:hover{
    color: #2196F3;
}
.proo{
    color: #212121;
}
.vip{
    color: aliceblue;
}
.vip-studio{
    color:#2196F3 ;
}
.web{
    background-color:#2F303A ;
}
.link-item:hover{
    color: #2196F3;
}
.logo{
    color: #000000;
}
.logo-span{
    color: #2196F3;
  }
font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em
.proo{
    display: inline-block;
    border: solid black; 
    border-radius: 4px;
    width: 73px;
    height: 38px;
}
.logo,.logo-span{
    font-family: 'Raleway';
font-weight: 700;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.03em
} 
.doom{
    font-family: 'Roboto';
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
text-align: center;
}
.link-item{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;}
.link-king{ font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

}
.king{ 
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
}
.king-intem{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
}
.boot{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}
.boot-input{
    ont-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 42px;
text-align: center;
letter-spacing: 0.03em;
}
.oops{
    color: #212121;
}
.oops{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
}
.vera{
    color: #757575;
}
.vera{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
}
.vip,.vip-studio{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px; 

}
.proo{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 26px;
/* identical to box height, or 162% */

text-align: center;
letter-spacing: 0.03em;

}
.proo1{
    color: #212121;
} 
.proo1{
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 36px;
/* identical to box height, or 200% */

letter-spacing: 0.06em;
}
.king-intem{
    ont-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 30px;
/* identical to box height, or 188% */

letter-spacing: 0.03em;
}
.kolor12{
    color: rgba(255, 255, 255, 0.6);
}
.contairn{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    padding-left: 15px;
    padding-right: 15px;
}
img{
    width: 370px;
}
.section{
padding-top: 94px;
padding-bottom: 94px;
margin-top: 0;
}
.knopka{
    color: aliceblue;
    background: #2196F3;
    position: absolute;
width: 200px;
height: 50px;
left: 700px;
top: 430px;


}
img{
    display: block;
    max-width: 100%;
    height: auto;
}
.link-item{
    display: flex;
}